
<div class="jumbtron"> 
   
   
    <h1 class="display-4 text-center">Product Detail Register</h1>
    
    <div class="row">
        <div class="col-md-5">
            <app-product-detail>

            </app-product-detail>
            <a routerLink="/category">
        Click here for list of Category
    </a>
        </div>
        <div class="col-md-5">
            <app-product-details-list>
                
            </app-product-details-list>
        </div>
       
    </div>
    
</div>
